/* PALETTE */

:root {
  --color-bg: #fdfbf3;
  --color-text: #294134;
  /*
  --color-green-dark: #506a60;
  --color-green-light: #a5b3a7;
  --color-rose: #eecfcf;
  --color-beige: #f2e9db;
  --color-accent: #c2bfae;
  */
}

/* FONTS */


.playfair-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

/* MAIN */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  background: url(bg-main.png) no-repeat 0 0;
}

.main {
  padding: 200px 0;
}

.baptism h1 {
  font-size: 4em;
  text-transform: uppercase;
}

.baptism p {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 300;
}

.intro {
  margin-top: 80px;
}

.intro h2 {
  font-size: 6em;
  padding: 0;
}

.intro p {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
}

.intro p:first-child {
  margin-bottom: 0px;
}

.intro p:last-child {
  margin-top: -14px;
}

.wedding {
  margin-top: 80px;
}

.wedding h1 {
  font-size: 3em;
  text-transform: uppercase;
}

.wedding p:first-child {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
}

.wedding p:last-child {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 300;
}

