/* PALETTE */

:root {
  --color-bg-primary: #fcf8f5;
  --color-bg-secondary: #F4F0ED;
  --color-bg-terciary: #D1D1D1;
  --color-text: #3b453c;
  --color-text-secondary: #282f29;

}

/* FONTS */

.playfair-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

/* MAIN */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-primary);
  color: var(--color-text);
  background:
  url(repeat.png) repeat,
}

.main {
  background: url(main-top-sm.png) no-repeat center top,
  url(main-bottom-sm.png) no-repeat center bottom;
  padding: 170px 0;
}

/* INTRO */

.intro h1 {
  font-size: 2.5em;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.intro p {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}

.intro p span {
  font-size: 0.6em;
  font-weight: 400;
}

/* BAPTISM */

.baptism {
  margin-top: 80px;
}

.baptism h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.baptism p:nth-of-type(1){
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0px;
}

.baptism p:nth-of-type(2) {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}

.baptism div {
  position: relative;
}

.baptism div #bautismo {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.baptism img {
  width: 250px;
}

/* WEDDING */ 

.wedding {
  margin-top: 70px;
}

.wedding h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.wedding p:nth-of-type(1){
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0px;
}

.wedding p:nth-of-type(2){
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}

#and {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8em;
}

.wedding div {
  position: relative;
}

.wedding div #wedding {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
}

/* EVENTS */

.events {
  background: url(events-top-sm.jpeg) var(--color-bg-secondary) no-repeat center top;
}

.ceremonia h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  background: url(icon-church.png) no-repeat center 0px;
  padding-top: 120px;
  margin-top: -40px;
}

.ceremonia p{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}

.ceremonia p:nth-of-type(2),
.ceremonia p:nth-of-type(3)  {
  font-size: 0.8em;
  margin-top: 5px;
}

.ceremonia .map {
  background-color: var(--color-text-secondary);
  color: var(--color-bg-primary);
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
}

.ceremonia .map:hover {
  background-color: var(--color-text);
} 

.fiesta {
  margin-top: 100px;
}

.fiesta h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  background:
  url(icon-party.png) no-repeat center top;
  padding-top: 120px;
}

.fiesta p{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}

.fiesta p:nth-of-type(2),
.fiesta p:nth-of-type(3)  {
  font-size: 0.8em;
  margin-top: 5px;
}

.fiesta .map {
  background-color: var(--color-text-secondary);
  color: var(--color-bg-primary);
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
}

.fiesta .map:hover {
  background-color: var(--color-text);
} 


/* DRESS CODE */

.dress-code {
  background: url(parte-2.png) no-repeat center top var(--color-bg-primary);
  padding: 0px 0px;
}

.dress-bottom {
  margin: 0px;
  padding: 150px 0;
  background: url(part-1.png) no-repeat center bottom;
}

.dress-code h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  background: url(icon-dress.png) no-repeat center top;
  padding-top: 120px;
}

.dress-code p{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}

.dress-code p:nth-of-type(2) {
  font-size: 0.8em;
  margin-top: 10px;
}

/* PRESENTS */

.presents {
  background: url(part-2.png) no-repeat center top var(--color-bg-secondary);
  padding: 0px 0px;
}

.presents-bottom {
  background: url(partecita-1.png) no-repeat center bottom;
  padding: 150px 0px;
}

.presents div div {
  margin-bottom: 80px;
}

.presents h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  background: url(icon-presents.png) no-repeat center 20px;
  padding-top: 110px;
}

.presents p{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0px;
}

.presents-text   {
  font-size: 0.9em !important;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0px auto;
  width: 350px;
}

.presents section p:nth-of-type(1) {
  font-weight: 600;
  font-size: 0.8em;
  margin-top: 5px;
}

.presents p:nth-of-type(2),
.presents p:nth-of-type(3) {
  font-size: 0.8em;
  margin-top: 5px;
}

.bottom {
  margin: 0px;
  padding: 180px 0;
  background: url(parte-1.png) no-repeat center bottom;
}

/* CONFIRMACIÓN */

.confirmacion {
  background: url(partecita-2.png) no-repeat center top var(--color-bg-secondary);
}

.confirmacion h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  background: url(icon-env.png) no-repeat center top;
  padding-top: 95px;
  margin-top: 100px;
}

.confirmacion p:nth-of-type(1){
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
}

.confirmacion p:nth-of-type(2){
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
}

.confirmacion form div{
  width: 300px;
  margin: auto;
}

.confirmacion input,
.confirmacion select {
  max-width: 400px;
  margin: auto;
  margin-bottom: 15px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.confirmacion input {
  font-size: 0.8em;
}

.confirmacion ::placeholder {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.confirmacion select {
  text-align: center;
  text-align-last: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.confirmacion .enviar {
  background-color: var(--color-text-secondary);
  color: var(--color-bg-primary);
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  margin-top: 20px;
}

.confirmacion .enviar:hover {
  background-color: var(--color-text);
} 

.confirmacion input {
  text-align: center;
}

.confirmacion p span {
  font-size: 0.6em;
  font-weight: 400;
}



/* TIME */

.contador {
  padding: 100px 0px;
  background-color: var(--color-bg-primary);
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.contador h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  background: url(icon-time.png) no-repeat center 5px;
  padding-top: 90px;
}

#countdown div {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
}

#countdown span {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  display: block;
}

#countdown p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.6em;
  font-weight: 400;
}

/* FOOTER */

footer {
  background-color: var(--color-bg-secondary);
  padding: 100px 0;
}

footer p:nth-of-type(1){
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 0px;
}

footer p:nth-of-type(2){
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 2px;
}

/* ANIMATION */

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


/* MODAL */

.modal-custom-top {
  align-items: flex-start;
}

.modal {
  margin-top: 150px;
}

.modal h2 {
  font-size: 2em;
  text-transform: uppercase;
}

.modal p:nth-of-type(1) {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 50px 0 0;
  background: url(icon-env-sm.png) no-repeat center top
}

.modal p:nth-of-type(2) {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
}

.modal .btn {
  background-color: var(--color-text-secondary);
  color: var(--color-bg-primary);
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  border-radius: 0px;
}

.modal .btn:hover {
  background-color: var(--color-text);
} 


.modal-dialog {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

@media (max-width: 400px) {
  .modal-dialog {
    width: 80%;
  }
}